.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 12%;
} 
.loginButton{
  margin-top: 15%;
  margin-left: 30%;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  background-color: cornsilk;
  color: green;
  cursor: pointer;
  transition: box-shadow 0.5s;
}